<h1>Review Details</h1>

<div class="review panel" *ngIf="review">
    <div>
        <h2>
            {{review.businessName}}
            <div routerLink="update" class="btn btn-primary pull-right">Update Review</div>
        </h2>


        <p>{{review.body}}</p>
        <p><em>{{review.author}}</em></p>
        <p>{{review.score}} / 10</p>

        <iframe width="640" height="480" [src]="url" frameborder="0" allowfullscreen></iframe>

    </div>
</div>
<div *ngIf="error" class="alert alert-danger">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  {{error}}
</div> 
